:root {
    --custom-tan: #eddfa0;
    --custom-gold: #b59139;
    font-family: proxima-nova, sans-serif;
}

body {
    background-color: var(--custom-tan);
    overflow-x: hidden;
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-links {
    font-weight: bold;
    font-size: 20px
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 500;
}

body.menu-open #overlay {
    opacity: 1;
    visibility: visible;
}

#logo-link {
    max-width: 75px;
    height: auto;
}

img.logo {
    width: 75px;
    height: auto;
}

#menu-toggle, #close-btn {
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
}

#menu-toggle {
    display: none;
    position: absolute;
    right: 20px;
}

#close-btn {
    display: none;
    color: white;
    position: absolute;
    top: 15px;
    right: 20px;
}

#nav-links a {
    text-decoration: none;
    padding: 20px;
    color: black;
}

#nav-links a:hover {
    background-color: var(--custom-gold);
    color: white;
}

#hero-img {
    max-width: 80%;
    margin: 20px auto;
    display: block;
}

hr {
    border: 1px solid var(--custom-gold);
    width: 100%;
    margin: 30px auto;
}

form {
    display: flex;
}

#information-box{
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
}

#information-box div{
    padding: 20px;
}

#information-box div h2{
    font-size: 25px;
    text-align: center;
    margin: 0;
}

#information-box div ul{
    font-size: 22px;
    margin-top: 20px;
    font-style: italic;
}

#contact-box{
    margin: 100px auto;
    text-align: center;
}

#contact-box h2{
    padding-bottom: 25px;
    line-height: 35px;
}

#contact-box a{
    font-style: italic;
}

#audition-button {
    background-color: var(--custom-gold);
    color: black;
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin: 0 auto;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

#mission-statement-img {
    display: block;
    max-width: 100%;
    margin: 75px auto 0 auto;
}

footer {
    text-align: center;
    margin-top: 20px;
}

.social {
    display: flex;
    justify-content: center;
}

.social a {
    text-decoration: none;
    display: block;
}

.social a img {
    width: 50px;
    height: auto;
    margin: 25px;
}

/* MOBILE RESPONSIVE STYLES */
@media screen and (max-width: 750px) {
    header {
        text-align: left;
        padding: 10px 20px;
    }

    body.menu-open #menu-toggle {
        display: none;
    }

    #menu-toggle {
        display: block;
    }

    nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #nav-links {
        position: fixed;
        top: 0;
        right: 0;
        width: 250px;
        height: 100%;
        background-color: var(--custom-gold);
        flex-direction: column;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 60px 0 0 20px;
        z-index: 1000;
        transform: translateX(100%);
        transition: transform 0.3s ease;
    }

    #nav-links.open {
        transform: translateX(0);
    }

    #nav-links a {
        width: 90%;
        text-align: left;
        padding: 15px 0 15px 20px;
        font-size: 20px;
        color: white;
        border-bottom: 1px solid var(--custom-tan);
    }

    #nav-links a:hover {
        background-color: var(--custom-tan);
        color: black;
    }

    #close-btn {
        display: block;
    }

    #hero-img {
        max-width: 90%;
    }

    form {
        flex-direction: column;
        align-items: center;
    }

    #audition-button {
        width: 50%;
        font-size: 18px;
    }

    #mission-statement-img {
        margin-top: 50px;
    }

    #information-box{
        grid-template-columns: 1fr;
    }

    #contact-box{
        margin: 75px auto;
        font-size: 14px;
    }
}